<%- include ('partials/head') %>

<div class="container">
  
  <div class="row d-flex justify-content-center text-center first-choice">
    <div class="col-12">
      <p><%= chosenRestaurant.name %></p>
      <p><%= chosenRestaurant.address %></p>
      <p>
        <a href="<%= chosenRestaurant.website %>">Restaurant website</a>
      </p>
      <p><%= chosenRestaurant.phone_number %></p>

      <% friendPhoneNumbers.forEach((number) => { %>
      <a
        href="https://wa.me/<%= number.phone_number %>/?text=We are going to <%= chosenRestaurant.name %> at <%= chosenRestaurant.address %>" target="_blank" rel="noopener noreferrer"
        ><img id="whatsapp" src="/whatsapp.jpg" /><%= number.first_name %></a
      >
      <br />
    </div>
    <% }) %>
    <p>
      <img class="first-choice-photo" src="<%= chosenRestaurant.photo %>" />
    </p>
  </div>
  
</div>

<%- include ('partials/footer') %>
