<%- include ('partials/head') %>

<div class="container">
  <% restaurantsArray.forEach((restaurant) => { %>
  <div class="row d-flex justify-content-center text-center first-choice">
    <div class="col-12">
      <p><%= restaurants.name %></p>
      <p><%= restaurants.address %></p>
      <p>
        <a href="<%= restaurants.website %>">restaurant website</a>
      </p>
      <p><%= restaurants.phone_number %></p>

      <% friendPhoneNumbers.forEach((number) => { %>
      <a
        href="https://wa.me/<%= number.phone_number %>/?We%are%going%to%<%= restaurants.name %>"
        ><img id="whatsapp" src="/whatsapp.jpg" /><%= number.first_name %></a
      >
      <br />
    </div>
    <p>
      <img class="first-choice-photo" src="<%= restaurant.photo %>" />
    </p>
  </div>
  <% }) %> <% }) %>
</div>

<%- include ('partials/footer') %>
